<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>New Complain Form</title>
  <link rel="stylesheet" href="{% static 'css/CompAppstyle.css' %}"
</head>
<body>
  <div id="header">
    <h1>Crime Complaint  Portal</h1>
    <div id="nav">
      <a href="/CompApp/view-complain">View all</a>
        <a href="/CompApp/new-complain">Add new</a>
          <a href="/CompApp/search-complain">Search Complain</a>
          <a href="/CompApp/logout">logout</a>
    </div>
  </div>
  <div id="main">
    <h2>Add new complain</h2>
    <form action="/CompApp/add" method="post">
      {% csrf_token %}
      {{f}}
    <input type="submit" value="add">
    </form>

  </div>


</body>
</html>
